#!/bin/bash

# Project specific Variables
# ------------------------------------------------------------------------------
# Credentials for a MySQL/MariaDB backup user. This user should have limited capabilities.
MYSQL_USER="backup_user"
MYSQL_PASSWD="backupuserpassword"

# Database hostname (usually localhost if database server is local)
HOST="localhost"

ADMIN_EMAIL="info@example.com"

# There should be a user called $SERVERNAMEbackup
SERVERNAME="servername"

# ==============================================================================
# You probably don't want to change this.
# ==============================================================================

# The source directory: this should contain a symlink to Apache doc root.
PARENT_DIR="/home/${SERVERNAME}backup"

# The Directory that holds backups
BACKUP_PATH="${PARENT_DIR}/backup"

# Directory for the source files: to be backed up
SRC="${PARENT_DIR}/source"

# The directory that holds dumped databases.
DB_DUMPS_PATH="${SRC}/sql"

# The directory holding source config files
CONFIG="${SRC}/config"
